.containt_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.grow {
  flex-grow: 1;
}

.justify {
  text-align: justify;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky_nav {
  position: sticky !important;
  top: 0;
  z-index: 10;
}

.main_title {
  font-weight: bolder;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  padding: 2em;
  color: white;
}

.mentions {
  width: 100%;
}

.pastille_group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: .5em;
  margin-top: 3em;
}

.footer_others {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 4em 2em;
  border-top: solid white 2px;
  margin-top: 3em;
}

.footer_others div {
  word-break: break-all;
}

.pastille {
  display: flex;
  align-items: center;
  gap: .5em;
  padding: .7em;
  border: solid white 2px;
  border-radius: 8px;
  text-decoration: none;
  background: black;
}

.pastille_icon {
  width: 30px;
  height: auto;
}

footer > div {
  overflow-wrap: break-word;
  width: 300px;
  color: white;
}

footer a {
  color: white;
}

footer h5 {
  font-size: x-large;
  color: rgb(17, 16, 16);
  font-weight: bold;
}

footer h6 {
  font-size: large;
  color: black;
  font-weight: 500;
}

.blog_list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.see_more {
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: flex;
  gap: 5px;
}
.see_more:hover {
  color: black !important;
}

.add_post {
  position: fixed;
  bottom: 50px;
  right: 70px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 2px black;
  /* transition: all 0.3s ease-in-out; */
}
.add_post:hover {
  transform: scale(1.01);
  box-shadow: 0 0 4px black;
}

.modal_cover {
  background-color: rgba(0, 0, 0, 0.2);
}

.spinner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 0;
}

.alert_container {
  margin: 3em 0 !important;
}

.modal_alert_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.modal_alert_container > .alert {
  margin-bottom: unset;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  overflow: hidden;
}

.contact_form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.checkbox_container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.comment_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.small_loader {
  display: flex !important;
  align-items: center;
  height: 22px !important;
  width: 22px !important;
}
